<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">

</div>
<script src="{% static "jquery/jquery.js" %}"></script>
<script src="{% static "onlinechat.js" %}"></script>
{# run online chat #}
<script> main("cb0d4be5-82f3-4d91-bc1f-2393782b5f92"); </script>
</body>

</html>